.btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #A06A6A;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
}

.btn:hover {
    background-color: #610909;
}

.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.btn.small {
    width: 90px !important;
    height: 28px !important;
    font-weight: 600;
    font-size: 0.6rem;
}

@media (max-width: 870px) {
    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
}
